body {
    background: 343A40;
    background-color: 343A40;
    color: #182f33;
    margin: 0;
  }
  
  .navi {
    background-color: 212529;
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: left;
    font-size: 30px;


  }

  .content {
    text-align: center;
    font-family: serif;
    padding: 30px;
    font-size: large;
  }
  
  img {
    width: 100px;
    height: auto;
    border-radius: 20px;
    text-align: left;
  }

  button {
    background-color: 495057;
    color: white;
    padding: 15px 25px; /* Anpassung der Polsterung für ein ausgewogeneres Aussehen */
    border: none;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px; /* Erhöhung des Abstands für bessere Trennung der Buttons */
    cursor: pointer;
    box-shadow: 4px 2px 5px black;
  }

  button:hover {
    background-color: cornsilk; /* Neue Hintergrundfarbe beim Überfahren mit der Maus */
  }

  h1 {
    font-size: large;
    color: #182f33;
    display: flex;
    text-align: center;
  }

  p {
      margin-bottom: 10px; /* Hinzufügen von Abstand zwischen den Absätzen */
      font-size: 25px;
  }

  #image-container {
      display: flex;
      justify-content: start; /* Zentrierung des Bildcontainers */
      margin-top: 20px; /* Abstand nach oben für bessere Darstellung */
  }
  .buttoncontainer {
    margin-top: 15px;

  }
  #generateButton {
    background-color: 6C757D;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
  }
  
  #generateButton:hover {
    background-color: ADB5BD;
  }
  
  #excuseOutput {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: CED4DA;
    border-radius: 5px;
  }