body {
    background: 343A40;
    background-color: 343A40;
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
  }
  
  .navi {
    background-color: 212529;
    padding: 15px; 
    display: flex;
    justify-content: end;
    font-size: 30px;
  }

  .content {
    text-align: start;
    font-size: small;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  

  button {
    background-color: 495057;
    color: white;
    padding: 15px 25px; /* Anpassung der Polsterung für ein ausgewogeneres Aussehen */
    border: none;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px; /* Erhöhung des Abstands für bessere Trennung der Buttons */
    cursor: pointer;
    box-shadow: 4px 2px 5px black;
    margin-top: 10px;
  }

  button:hover {
    background-color: cornsilk; /* Neue Hintergrundfarbe beim Überfahren mit der Maus */
  }

  h1 {
    font-size: large;
    color: white;
    align-items: left;
    margin-right: auto;
    margin-top: 23px;
  }

  p {
      margin-bottom: 10px; /* Hinzufügen von Abstand zwischen den Absätzen */
      font-size: 17px;
  }


  
  
  #generateButton {
    background-color: 6C757D;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
  }
  
  #generateButton:hover {
    background-color: ADB5BD;
  }
  
  #excuseOutput {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: 343A40;
    border-radius: 5px;
  }
  #generateCrazyButton {
    background-color: 6C757D;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
  }
  #crazyExcuseOutput {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: 343A40;
    border-radius: 5px;
  }
  #generateCrazyButton:hover {
    background-color: ADB5BD;
  }
  img {
 width: 100px;
 margin-right: auto;
 margin-top: 0px;
 margin-bottom: auto;
  }
  .Boyimage {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
  }